services:
  - type: web
    name: dhbt-verification-bot
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    plan: free
    branch: main
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHAT_ID
        sync: false
